*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}
body{
    background-color: #f2e9e4;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    color: #22223b;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

form input {
    border-radius: 5px;
    padding: 2px;
    border-color: #22223b;
    background-color: #f2e9e4;
}

form button {
    padding: 5px;
    background-color: #c9ada7;
    border-radius: 5px;
    color: #f2e9e4;
    font-weight: 700;
}

table{
    width: 100%; 
}

table th {
    border-bottom: 2px solid #000;
    padding: 12px 0;
    font-size: 24px;
    font-weight: bold;
    font-size: 20px;
    color: #22223b;
}


table td {
    padding: 12px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #22223b;
}